.company-overview-container {
  padding: 2rem;

  h2 {
    margin-bottom: 1rem;
    color: #212529;
  }

  p {
    margin: 1rem 0;
    font-size: 1rem;
    color: #6c757d;
  }
}

:host {
  display: block;
  width: 100%;
}
